<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT webBase ANY>
<!ATTLIST webBase id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT eat ANY>
<!ATTLIST eat id ID #REQUIRED>
<!ELEMENT cook ANY>
<!ATTLIST cook id ID #REQUIRED>
<!ELEMENT tips ANY>
<!ATTLIST tips id ID #REQUIRED>
]>
<root id="-1">
  <home id="1067" key="3deecc94-e479-4d97-9342-e7859e3ab840" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-28T12:19:56" updateDate="2019-01-28T12:52:51" nodeName="Home Page" urlName="home-page" path="-1,1067" isDoc="" nodeType="1066" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <title><![CDATA[Home]]></title>
  </home>
  <cook id="1078" key="04a81b4e-5a08-45a1-a106-5b3b77cfc2b1" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-01-28T12:57:23" updateDate="2019-01-28T12:57:23" nodeName="Cook" urlName="cook" path="-1,1078" isDoc="" nodeType="1075" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1074" nodeTypeAlias="cook" isPublished="true">
    <title><![CDATA[Cook]]></title>
  </cook>
  <eat id="1079" key="f22f7732-0d51-46b7-b004-15f8eec231c9" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2019-01-28T12:57:36" updateDate="2019-01-28T12:57:36" nodeName="Eat" urlName="eat" path="-1,1079" isDoc="" nodeType="1073" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1072" nodeTypeAlias="eat" isPublished="true">
    <title><![CDATA[Eat]]></title>
  </eat>
  <tips id="1080" key="b6f016f1-29a7-4ffc-8d28-6272a96c3a4d" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2019-01-28T12:58:16" updateDate="2019-01-28T12:58:16" nodeName="Tips" urlName="tips" path="-1,1080" isDoc="" nodeType="1077" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1076" nodeTypeAlias="tips" isPublished="true">
    <title><![CDATA[Tips]]></title>
  </tips>
</root>