<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT webBase ANY>
<!ATTLIST webBase id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT eat ANY>
<!ATTLIST eat id ID #REQUIRED>
<!ELEMENT cook ANY>
<!ATTLIST cook id ID #REQUIRED>
<!ELEMENT tips ANY>
<!ATTLIST tips id ID #REQUIRED>
<!ELEMENT recipe ANY>
<!ATTLIST recipe id ID #REQUIRED>
<!ELEMENT food ANY>
<!ATTLIST food id ID #REQUIRED>
<!ELEMENT tip ANY>
<!ATTLIST tip id ID #REQUIRED>
<!ELEMENT SearchResults ANY>
<!ATTLIST SearchResults id ID #REQUIRED>
]>
<root id="-1">
  <home id="1067" key="3deecc94-e479-4d97-9342-e7859e3ab840" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-28T12:19:56" updateDate="2019-01-28T23:08:55" nodeName="Home Page" urlName="home-page" path="-1,1067" isDoc="" nodeType="1066" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <title><![CDATA[Home]]></title>
    <cook id="1078" key="04a81b4e-5a08-45a1-a106-5b3b77cfc2b1" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2019-01-28T12:57:23" updateDate="2019-02-16T23:01:49" nodeName="Cook" urlName="cook" path="-1,1067,1078" isDoc="" nodeType="1075" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1074" nodeTypeAlias="cook" isPublished="true">
      <title><![CDATA[Cook]]></title>
      <recipe id="1130" key="97e7c5d3-2dda-4ea6-a80a-eb2cff53c049" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2019-01-28T22:44:38" updateDate="2019-02-16T22:38:34" nodeName="Test1" urlName="test1" path="-1,1067,1078,1130" isDoc="" nodeType="1124" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1123" nodeTypeAlias="recipe" isPublished="true">
        <title><![CDATA[Test1]]></title>
        <recipeSteps><![CDATA[<p>Test1Test1Test1Test1Test1Test1 est1 Test1Test1Test1 est1Test1Test1</p>]]></recipeSteps>
        <recipeName><![CDATA[Test1]]></recipeName>
        <ingredients><![CDATA[Test1
Test1
Test1]]></ingredients>
        <recipeImage><![CDATA[umb://media/dee42fd3177f49f9bfb08765b0adebb6]]></recipeImage>
        <recipeIntro><![CDATA[Test1Test1Test1Test1Test1Test1Test1Test1]]></recipeIntro>
      </recipe>
      <recipe id="1131" key="eafe10bf-78bb-429d-94ef-2cafb43482a3" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2019-01-28T22:45:13" updateDate="2019-02-16T22:38:34" nodeName="Test 2" urlName="test-2" path="-1,1067,1078,1131" isDoc="" nodeType="1124" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1123" nodeTypeAlias="recipe" isPublished="true">
        <title><![CDATA[Test 2]]></title>
        <recipeSteps><![CDATA[<p>Test 2Test 2Test 2</p>
<p>Test 2</p>
<p>Test 2</p>
<p>Test 2</p>
<p>Test 2Test 2Test 2Test 2</p>]]></recipeSteps>
        <recipeName><![CDATA[Test 2]]></recipeName>
        <ingredients><![CDATA[Test 2
Test 2
Test 2]]></ingredients>
        <recipeImage><![CDATA[umb://media/0baa8e72e10545f3ad7fd6db6db3e29e]]></recipeImage>
        <recipeIntro><![CDATA[Test 2Test 2Test 2Test 2Test 2Test 2Test 2Test 2Test 2Test 2]]></recipeIntro>
      </recipe>
      <recipe id="1158" key="bc53d0ce-27c2-4112-a8f7-b2bcc0cc102e" parentID="1078" level="3" creatorID="0" sortOrder="4" createDate="2019-02-18T20:10:37" updateDate="2019-02-18T20:35:19" nodeName="Healthier boscaiola" urlName="healthier-boscaiola" path="-1,1067,1078,1158" isDoc="" nodeType="1124" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1123" nodeTypeAlias="recipe" isPublished="true">
        <title><![CDATA[Healthier boscaiola]]></title>
        <recipeSteps><![CDATA[<ul>
<li class="recipe-method-step-number">Step 1 Combine stock, corn our and cream in a medium jug. Set aside.</li>
<li class="recipe-method-step-content">Step 2 Place noodles in a heatproof bowl. Cover with boiling water. Stand for 6 to 8 minutes or until almost tender. Drain well.</li>
<li class="recipe-method-step-content">Step 3 Meanwhile, heat half the oil in a large deep frying pan over medium-high heat. Add mushroom and ham. Cook, stirring occasionally, for 5 minutes or until golden. Transfer to a heatproof bowl. Wipe pan clean.</li>
<li class="recipe-method-step-content">Step 4 Heat remaining oil in same pan over medium heat. Add onion. Cook, stirring, for 4 minutes or until just softened. Add garlic. Cook, stirring, for 1 minute or until fragrant. Gradually add stock mixture. Cook, stirring constantly, for 3 minutes or until mixture bubbles and thickens.</li>
<li class="recipe-method-step-content">Step 5 Reduce heat to medium-low. Add noodles and two-thirds of the ham mixture. Cook, covered, for 2 to 3 minutes or until noodles are tender (do not overcook). Add 1⁄4 cup parmesan. Season with salt and pepper. Stir until parmesan is melted. Serve sprinkled with remaining ham mixture, parmesan and parsley.</li>
</ul>]]></recipeSteps>
        <recipeName><![CDATA[Healthier boscaiola]]></recipeName>
        <ingredients><![CDATA[1 1/4 cups salt-reduced chicken stock
3 teaspoons cornflour]]></ingredients>
        <recipeImage><![CDATA[umb://media/63094da473564b29a23b842a574e8558]]></recipeImage>
        <prepTime><![CDATA[30 mins]]></prepTime>
        <recipeIntro><![CDATA[Ready in 35 minutes, this boscaiola is still creamy and cheesy but is way better for you. It makes a great dinner for the kids, too.]]></recipeIntro>
        <cookingTime><![CDATA[1 hour]]></cookingTime>
        <serves><![CDATA[4 people]]></serves>
      </recipe>
    </cook>
    <eat id="1134" key="8b9b2fc6-2698-446b-8c00-54670874cf9d" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2019-02-16T18:36:59" updateDate="2019-02-16T23:01:49" nodeName="Eat" urlName="eat" path="-1,1067,1134" isDoc="" nodeType="1073" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1072" nodeTypeAlias="eat" isPublished="true">
      <title><![CDATA[Eat]]></title>
      <food id="1141" key="4a32c626-df4f-4703-9e26-a83387e05dcd" parentID="1134" level="3" creatorID="0" sortOrder="2" createDate="2019-02-16T18:58:27" updateDate="2019-02-16T22:38:58" nodeName="Choco Cake" urlName="choco-cake" path="-1,1067,1134,1141" isDoc="" nodeType="1140" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1139" nodeTypeAlias="food" isPublished="true">
        <title><![CDATA[Choco cake]]></title>
        <cuisine><![CDATA[Chinese]]></cuisine>
        <description><![CDATA[This is a food from the chinese food familiy]]></description>
        <foodName><![CDATA[ChocoCake]]></foodName>
        <photoOfTheFood><![CDATA[umb://media/ef39deee7ce9429b948f91e1c57e8f77]]></photoOfTheFood>
      </food>
      <food id="1151" key="c2c7b8df-3a3d-45d5-ad50-391edc0ee23e" parentID="1134" level="3" creatorID="0" sortOrder="3" createDate="2019-02-16T21:59:44" updateDate="2019-02-17T20:39:56" nodeName="Coke" urlName="coke" path="-1,1067,1134,1151" isDoc="" nodeType="1140" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1139" nodeTypeAlias="food" isPublished="true">
        <title><![CDATA[Coke]]></title>
        <cuisine><![CDATA[Local]]></cuisine>
        <description><![CDATA[Testing this is a food]]></description>
        <foodName><![CDATA[Coke]]></foodName>
      </food>
    </eat>
    <tips id="1080" key="b6f016f1-29a7-4ffc-8d28-6272a96c3a4d" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2019-01-28T12:58:16" updateDate="2019-02-16T22:38:48" nodeName="Tips" urlName="tips" path="-1,1067,1080" isDoc="" nodeType="1077" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1146" nodeTypeAlias="tips" isPublished="true">
      <title><![CDATA[Tips]]></title>
      <tip id="1147" key="eea8b8b5-868e-4c13-858f-c71deaa16000" parentID="1080" level="3" creatorID="0" sortOrder="2" createDate="2019-02-16T19:47:16" updateDate="2019-02-16T22:38:48" nodeName="Tip1" urlName="tip1" path="-1,1067,1080,1147" isDoc="" nodeType="1145" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="0" nodeTypeAlias="tip" isPublished="true">
        <title><![CDATA[Tip1]]></title>
        <intro><![CDATA[This is my first Tip]]></intro>
        <tipDescription><![CDATA[This is for the description of the tip

this is the second line of the description

This is the third line of the description]]></tipDescription>
      </tip>
      <tip id="1148" key="3d3394bd-74ed-419e-9a9e-b44ac087960c" parentID="1080" level="3" creatorID="0" sortOrder="3" createDate="2019-02-16T20:21:15" updateDate="2019-02-16T22:38:48" nodeName="tip2" urlName="tip2" path="-1,1067,1080,1148" isDoc="" nodeType="1145" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="0" nodeTypeAlias="tip" isPublished="true">
        <title><![CDATA[Tip2]]></title>
        <intro><![CDATA[This is tip for the day 2]]></intro>
        <tipDescription><![CDATA[This is a tip2 line 1
This is tip 2line 2]]></tipDescription>
      </tip>
      <tip id="1156" key="fb4bf38f-ae8f-4d1a-9a9a-6dfe3e45b294" parentID="1080" level="3" creatorID="0" sortOrder="4" createDate="2019-02-17T21:03:41" updateDate="2019-02-17T21:03:48" nodeName="Tip3" urlName="tip3" path="-1,1067,1080,1156" isDoc="" nodeType="1145" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="0" nodeTypeAlias="tip" isPublished="true">
        <title><![CDATA[Tip3]]></title>
        <intro><![CDATA[This is latest tip 3]]></intro>
        <tipDescription><![CDATA[This is the tip description.]]></tipDescription>
      </tip>
    </tips>
  </home>
  <SearchResults id="1165" key="c689d992-8948-4e96-91ad-7f85d94dddce" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-03-14T21:10:50" updateDate="2019-03-26T20:20:19" nodeName="SearchResults" urlName="searchresults" path="-1,1165" isDoc="" nodeType="1163" creatorName="Gopakumar R" writerName="Gopakumar R" writerID="0" template="1162" nodeTypeAlias="SearchResults" isPublished="true">
    <title><![CDATA[Search Results]]></title>
  </SearchResults>
</root>