@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "WebBase.cshtml";
}

<div id="colorlib-hero" class="js-fullheight">
         
    <div class="owl-carousel">
        @Html.Action("GetCourouselItems", "LatestItemsSurface")
    </div>

</div>

